p.ErrorMessage {
  color: red;
}
#ErrMsg p {
  color: red;
  font-family: Candara, 'Times New Roman', Times, serif;
  padding: 10px;
}
h1 {
  font-family: Gabriola, 'Times New Roman', Times, serif;
}
h2 {
  font-size: 25px;
  font-family: Gabriola, 'Times New Roman', Times, serif;
  color: #033f6f;
}
h3 {
  font-size: 25px;
  text-align: center;
  font-family: Gabriola, 'Times New Roman', Times, serif;
}
h4 {
  font-size: 25px;
  font-family: Gabriola, 'Times New Roman', Times, serif;
}
* {
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
  margin: 0 auto;
}
.clear {
  clear: left;
}
.errorLabel {
  font-family: Gabriola, 'Times New Roman', Times, serif;
  color: red;
}
hcaption {
  color: #7d684f;
  vertical-align: super;
  font-size: 16px;
  padding-left: 30px;
  position: relative;
}
.selectedMenu {
  color: #003a5e;
}
/* Login Form*/
/*-------LOGIN STARTS HERE -------*/
/* Login Container (default to float:right) */
#loginContainer {
  position: relative;
  float: right;
  font-size: 14px;
  margin-top: 10px;
  margin-right: 150px;
  font-family: Candara, 'Times New Roman', Times, serif;
  color: #356867;
  background: #d2e0ea;
}
/* Login Button */
.loginButton {
  font-family: Candara, 'Times New Roman', Times, serif;
  color: #356867;
  font-size: 16px;
  display: inline-block;
  float: right;
  background: #d2e0ea url(images/login/buttonbg.png) repeat-x;
  border: 1px solid #356867;
  border-radius: 3px;
  -moz-border-radius: 3px;
  position: relative;
  z-index: 30;
  cursor: pointer;
  text-decoration: none;
  outline: none;
  /* Login Button Text */
}
.loginButton span {
  color: #356867;
  font-size: 16px;
  font-weight: bold;
  text-shadow: 1px 1px #ffffff;
  padding: 7px 29px 5px 10px;
  background: url(images/login/loginArrow.png) no-repeat 53px 7px;
  display: block;
}
.loginButton:hover {
  background: url(images/login/buttonbgHover.png) repeat-x;
}
/* Login Box */
#loginBox {
  position: absolute;
  top: 34px;
  right: 0;
  display: none;
  z-index: 99;
}
/* If the Login Button has been clicked */
.loginButton.active {
  border-radius: 3px 3px 0 0;
  /* A Line added to overlap the border */
}
.loginButton.active span {
  background-position: 53px -76px;
}
.loginButton.active em {
  position: absolute;
  width: 100%;
  height: 1px;
  background: #d2e0ea;
  bottom: -1px;
}
/* Login Form */
#loginForm {
  width: 248px;
  border: 1px solid #356867;
  border-radius: 3px 0 3px 3px;
  -moz-border-radius: 3px 0 3px 3px;
  margin-top: -1px;
  background: #d2e0ea;
  padding: 6px;
  /* Default Input */
  /* Sign In Button */
  /* Forgot your password */
}
#loginForm fieldset {
  margin: 0 0 12px 0;
  display: block;
  border: 0;
  padding: 0;
}
#loginForm #checkbox {
  width: auto;
  margin: 1px 9px 0 0;
  float: left;
  padding: 0;
  border: 0;
  margin: 3px 6px 0 0;
  /* IE7 Fix */
}
#loginForm #body table label {
  display: block;
  float: none;
  margin: 0 0 6px 0;
  font-size: 14px;
}
#loginForm input {
  width: 92%;
  border: 1px solid #356867;
  /*#899caa;*/
  border-radius: 3px;
  -moz-border-radius: 3px;
  color: #356867;
  font-weight: bold;
  padding: 8px 8px;
  box-shadow: inset 0px 1px 3px #878e98;
  -webkit-box-shadow: inset 0px 1px 3px #878e98;
  -moz-box-shadow: inset 0px 1px 3px #878e98;
  font-size: 14px;
}
#loginForm .login {
  width: auto;
  float: left;
  background: #339cdf url(images/login/loginbuttonbg.png) repeat-x;
  color: #ffffff;
  padding: 7px 10px 8px 10px;
  text-shadow: 0px -1px #278db8;
  border: 1px solid #339cdf;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  margin: 0 12px 0 0;
  cursor: pointer;
  padding: 7px 2px 8px 2px;
  /* IE7 Fix */
  font-size: 14px;
}
#loginForm span {
  text-align: center;
  display: block;
  padding: 7px 0 4px 0;
  font-size: 14px;
}
#loginForm span a {
  color: #356867;
  /*  text-shadow:1px 1px #fff;*/
  font-size: 14px;
}
fieldset#body {
  background: #ffffff;
  border-radius: 3px;
  -moz-border-radius: 3px;
  padding: 10px 13px;
  margin: 0;
}
.logoutButton {
  font-family: Myriad Pro, Arial, Helvetica, sans-serif;
  color: #356867;
  font-size: 16px;
  display: inline-block;
  float: right;
  background: #d2e0ea url(images/login/buttonbg.png) repeat-x;
  border: 1px solid #356867;
  border-radius: 3px;
  -moz-border-radius: 3px;
  position: relative;
  z-index: 30;
  cursor: pointer;
  text-decoration: none;
  outline: none;
  /* Logout Button Text */
}
.logoutButton span {
  color: #356867;
  font-size: 16px;
  font-weight: bold;
  text-shadow: 1px 1px #ffffff;
  padding: 7px 10px 5px 10px;
  display: block;
}
.logoutButton.active em {
  position: absolute;
  width: 100%;
  height: 1px;
  background: #d2e0ea;
  bottom: -1px;
}
.logoutButton:hover {
  background: url(images/login/buttonbgHover.png) repeat-x;
}
#body label {
  color: #356867;
  margin: 9px 0 0 0;
  display: block;
  float: left;
  font-size: 14px;
}
input:focus {
  outline: none;
}
.LoginHeader {
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 14px;
  font-style: italic;
  font-weight: bold;
}
.field-validation-error {
  color: red;
  float: left;
  display: block;
}
.field-validation-valid {
  display: none;
}
/*# sourceMappingURL=LoginForm.css.map */