/*@fonttype:Gabriola,'Times New Roman', Times, serif;
@plainFont:Candara,'Times New Roman', Times, serif;
@fontsize:30px;
@fontheading:60px;
@errorMsg:red;


@greenish:#2b909e;
@greenishdark:#12606b;
@lighest:#fff;
@lightblue:#1b78c2;
@lightergreen:#80abb4;
@blue:#0860a6;
@darkblue:#033f6f;
@darkestblue:#003a5e;
@lightgray:#a7a4a4;
@dark:#696969;
@darkest:#000;
@lighterblue:#6199C6;
@lightestblue:#9ABDDA;
@lighestbrown:#F3E9DD;
@lightestgreen:#D5F0E4;
@shadow: #878e98;
@gray:#eeeeee;
@darkgray:#424852;*/
p.ErrorMessage {
  color: red;
}
#ErrMsg p {
  color: red;
  font-family: Candara, 'Times New Roman', Times, serif;
  padding: 10px;
}
h1 {
  font-family: Gabriola, 'Times New Roman', Times, serif;
}
h2 {
  font-size: 25px;
  font-family: Gabriola, 'Times New Roman', Times, serif;
  color: #033f6f;
}
h3 {
  font-size: 25px;
  text-align: center;
  font-family: Gabriola, 'Times New Roman', Times, serif;
}
h4 {
  font-size: 25px;
  font-family: Gabriola, 'Times New Roman', Times, serif;
}
* {
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
  margin: 0 auto;
}
.clear {
  clear: left;
}
.errorLabel {
  font-family: Gabriola, 'Times New Roman', Times, serif;
  color: red;
}
hcaption {
  color: #7d684f;
  vertical-align: super;
  font-size: 16px;
  padding-left: 30px;
  position: relative;
}
.selectedMenu {
  color: #003a5e;
}
/*	VERTICAL MENU	*/
/*.menu {
	width: auto;
	height: auto;
	-webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,.73), 0px 0px 18px 0px rgba(0,0,0,.13);
	-moz-box-shadow: 0px 1px 3px 0px rgba(0,0,0,.73), 0px 0px 18px 0px rgba(0,0,0,.13);
	box-shadow: 0px 1px 3px 0px rgba(0,0,0,.73), 0px 0px 18px 0px rgba(0,0,0,.13);
	font-family:@plainFont;

    li{
        list-style:none;

        a{
            background-color: @blue;
	        border-bottom: 1px solid @darkblue;
            -webkit-box-shadow: inset 0px 1px 0px 0px @shadow;
            -moz-box-shadow: inset 0px 1px 0px 0px @shadow;
            box-shadow: inset 0px 1px 0px 0px @shadow;
            width: 100%;
            height: 2.75em;
            line-height: 2.5em;
            text-indent: 1.5em;
            display: block;
            position: relative;
            color: @lighest;
            font-size:16px;
            text-shadow: 0px 1px 0px rgba(0, 0, 0, .5);
            text-decoration: none;
            outline: none;
            background-image: linear-gradient(top, (@lighterblue), (@blue));
            
        }

        a.active{
            border-bottom: 1px solid @darkblue;
        }

        ul{
            li{
                list-style:none;

                a{
                    background: @lighest;
	                border-bottom: 1px solid @gray;
	                width: 100%;
	                height: 2.75em;
	                line-height: 2.5em;
	                text-indent: 2.5em;
	                display: block;
	                position: relative;
	
	                font-size: 0.923em;
	                font-weight: 400;
	                color: @lightgray;
	                text-decoration:none;
	                outline:none;
                }
            }

            li:last-child a {
                border-bottom: 1px solid @darkblue;
            }
            li:hover a, li:hover a span, li:hover a:before{
                color: @darkestblue;
            }
        }
    }
}*/
#LoginBody {
  overflow: hidden;
  margin-top: 20px;
  padding-left: 10px;
  margin-bottom: 20px;
  font-family: Candara, 'Times New Roman', Times, serif;
  padding-top: 50px;
}
#LoginBody #LoginView {
  display: inline;
  float: left;
  width: 75%;
  margin-left: 20px;
}
#verticalmenu {
  width: 20%;
  height: auto;
  -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.73), 0px 0px 18px 0px rgba(0, 0, 0, 0.13);
  -moz-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.73), 0px 0px 18px 0px rgba(0, 0, 0, 0.13);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.73), 0px 0px 18px 0px rgba(0, 0, 0, 0.13);
  font-family: Candara, 'Times New Roman', Times, serif;
  display: inline;
  float: left;
}
#verticalmenu ul li {
  list-style: none;
}
#verticalmenu ul li ul {
  display: none;
}
#verticalmenu ul li ul ul li a {
  background: #ffffff;
  padding-left: 20px;
}
#verticalmenu ul li ul li a {
  background: #ffffff;
  border-bottom: 1px solid #eeeeee;
  width: 100%;
  height: 2.75em;
  line-height: 2.5em;
  text-indent: 2.5em;
  /*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
  display: block;
  position: relative;
  font-size: 0.923em;
  font-weight: 400;
  color: #a7a4a4;
  text-decoration: none;
  outline: none;
}
#verticalmenu ul li ul li:hover > a,
#verticalmenu ul li ul li.open > a,
#verticalmenu ul li ul li.active > a {
  background: #424852;
  border-bottom: 1px solid #033f6f;
  color: #ffffff;
}
#verticalmenu ul li ul li:last-child > a,
#verticalmenu ul li ul li.last > a {
  border-bottom: 1px solid #033f6f;
}
#verticalmenu ul li ul li.open:last-child > a,
#verticalmenu ul li ul li.last.open > a {
  border-bottom: 1px solid #003a5e;
}
#verticalmenu ul li ul li.open:last-child > ul > li:last-child > a {
  border-bottom: 0;
}
#verticalmenu ul li ul li.has-sub > a::after {
  display: block;
  position: absolute;
  content: "";
  width: 5px;
  height: 5px;
  right: 20px;
  z-index: 10;
  top: 11.5px;
  border-top: 2px solid #eeeeee;
  border-left: 2px solid #eeeeee;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
#verticalmenu ul li ul li.active > a::after,
#verticalmenu ul li ul li.open > a::after,
#verticalmenu ul li ul li > a:hover::after {
  color: #003a5e;
}
#verticalmenu ul li a {
  background-color: #0860a6;
  border-bottom: 1px solid #033f6f;
  -webkit-box-shadow: inset 0px 1px 0px 0px #878e98;
  -moz-box-shadow: inset 0px 1px 0px 0px #878e98;
  box-shadow: inset 0px 1px 0px 0px #878e98;
  width: 100%;
  height: 2.75em;
  line-height: 2.5em;
  text-indent: 1.5em;
  display: block;
  position: relative;
  color: #ffffff;
  font-size: 16px;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5);
  text-decoration: none;
  outline: none;
  background-image: linear-gradient(top, #6199c6, #0860a6);
}
#verticalmenu ul li > a:hover,
#verticalmenu ul li.active > a,
#verticalmenu ul li.open > a {
  color: #ffffff;
  background-color: #0860a6;
  background-image: linear-gradient(top, #6199c6, #0860a6);
}
#verticalmenu ul li.open > a {
  border-bottom: 1px solid #033f6f;
}
#verticalmenu ul li:last-child > a,
#verticalmenu ul li.last > a {
  border-bottom: 1px solid #033f6f;
}
#verticalmenu ul li > a:hover > span::after,
#verticalmenu ul li.active > a > span::after,
#verticalmenu ul li.open > a > span::after {
  border-color: #eeeeee;
}
.align-right {
  float: right;
}
.holder {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  right: 0;
}
.holder::after,
.holder::before {
  display: block;
  position: absolute;
  color: #003a5e;
  content: "";
  width: 6px;
  height: 6px;
  right: 20px;
  z-index: 10;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
.holder::after {
  top: 17px;
  border-top: 2px solid #ffffff;
  border-left: 2px solid #ffffff;
}
.holder::before {
  top: 18px;
  border-top: 2px solid;
  border-left: 2px solid;
  border-top-color: inherit;
  border-left-color: inherit;
}
/*# sourceMappingURL=VerticalMenu.css.map */