<div id="AboutUs">
    <div class="Inner">
        <h1>About Us</h1>
        <p>
            Interact 2 World is a professional Website Designing and Software Development company. Interact 2 World features an integrated
            team of programmers, creative designer, content writers, SEO and online marketing professionals that know how to get online results.
        </p>

        <p>
            With the fast development in every sector, need for website keeps increasing. Companies are on the look out to get hold of
            potential markets. With the fact that you have the requirement and we have the solution using the best Internet tools
            and content we can take you where you want. We assist you to gain a competitive edge by continuously improving your website
            based business solutions.
        </p>

        <p>
            With the help of latest technologies and tendencies, we provide you with the skilled products and services for your business
            needs. Our offerings are based on clients business requirements and providing dependable solutions.
        </p>
    </div>
</div>